@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
}

*::-webkit-scrollbar {
    width: 15px;
    background-color: rgb(35, 17, 84);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.414) inset;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(13, 7, 32);
}

body {
    background-color: #341f97;
}

header {
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: 700;
    color: white;
    background-color: #341f97;
    user-select: none;
    align-items: center;
    z-index: 999;
    border-bottom: 2px solid #2d1a81;
}

nav a {
    color: white;
    user-select: none;
    align-items: center;
    text-decoration: none;
    margin-left: 15px;
    padding: 10px;
    margin-top: -10px;
    margin-bottom: -10px;
    border-radius: 10px;
    transition: 0.5s ease;
}

nav a:hover {
    background-color: #190e4b;
}

.logo:hover {
    background-color: #190e4b;
}

.logo {
    font-size: 1.4em;
    text-decoration: none;
    color: white;
    background-color: transparent;
    padding: 10px;
    margin-top: -10px;
    margin-bottom: -10px;
    border-radius: 10px;
    transition: 0.5s ease;
}

.main {
    padding: 20px;
    padding-top: 200px;
    height: 100vh;
}

.card {
    overflow: hidden;
    width: 60%;
    height: 50vh;
    background-color: #160d408f;
    border-radius: 40px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.65);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    border-right: 3px solid white;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.button {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 700;
    color: rgba(255 59 92);
    background-color: rgba(255 59 92 / 25%);
    border: 2px solid rgba(255 59 92);
    padding: 10px 20px;
    border-radius: 3px;
    transition: 0.3s ease;
    animation: btn 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 11s;
    opacity: 0;
    transition: 0.5s ease;
    z-index: 900;
    position: absolute;
    top: 100px;
}

.button2 {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 700;
    background-color: transparent;
    width: 150px;
    height: 70px;
    transition: 0.3s ease;
    animation: btn5 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 11s;
    position: absolute;
    opacity: 1;
    transition: 0.5s ease;
    z-index: 999;
    position: absolute;
    top: 100px;
}

@keyframes btn5 {
    0% {
        z-index: 999;
    }

    100% {
        z-index: -5;
    }
}

@keyframes btn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.button:hover {
    background-color: rgba(255 59 92 / 50%);
}

h1 {
    color: white;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-top: -70px;
}

h1::after {
    content: " • "
}

h1::before {
    content: " • ";
}

h4 {
    color: rgb(150, 150, 150);
    text-transform: capitalize;
    width: 400px;
    align-items: center;
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes lod {
    0% {
        content: "10";
    }

    10% {
        content: "9";
    }

    20% {
        content: "8";
    }

    30% {
        content: "7";
    }

    40% {
        content: "6";
    }

    50% {
        content: "5";
    }

    60% {
        content: "4";
    }

    70% {
        content: "3";
    }

    80% {
        content: "2";
    }

    90% {
        content: "1";
    }

    100% {
        content: "0";
    }
}

.lod-span {
    width: 120px;
    height: 120px;
    background-color: aqua;
    position: absolute;
    border-radius: 50%;
    border: 2px solid white;
    background-color: transparent;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    font-size: 4em;
    color: white;
    justify-content: center;
    transition: 0.3s ease;
    animation: btn2 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 10s;
    opacity: 1;
    transition: 0.5s ease;
    margin-top: 150px;
}

@keyframes btn2 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.lod-span::after {
    animation: lod 10s;
    content: "0";
}

.button-hid {
    position: absolute;
    bottom: 0;
    background-color: transparent;
    width: 25px;
    height: 25px;
    cursor: default;
}

@media (max-width:1000px) {
    .card {
        width: 90%;
    }

    header {
        padding: 12px 20px;
    }

    nav a {
        font-weight: 700;
    }

    nav a {
        padding: 0px;
    }
}

@media (max-width:730px) {
    h4 {
        font-size: 0.8em;
    }

    nav a {
        padding: 0px;
    }
}

@media (max-width:340px) {
    h1 {
        font-size: 1.3em;
    }

    h4 {
        font-size: 0.6em;
    }

    nav a {
        padding: 0px;
    }
}

@media (max-width:280px) {
    h1 {
        font-size: 1em;
    }

    h4 {
        font-size: 0.7em;
        width: 190px;
    }

    .logo {
        font-size: 1.2em;
    }

    header {
        width: 100%;
        font-size: 0.9em;
    }

    nav a {
        margin-left: 2px;
        font-size: 0.9em;
    }

    nav a {
        padding: 0px;
    }
}

@media (max-width:500px) {
    nav a {
        font-size: 0.8em;
        margin-left: 5px;
        padding: 0px;
    }

    header {
        padding: 10px 15px;
    }

    .logo {
        font-size: 1.1em;
    }

    h4 {
        font-size: 0.7em;
        width: 320px;
        align-items: center;
        text-align: center;
    }
}